doctype html
html
  head
    title Change your Song
    link(rel='stylesheet' href='public/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    if errors.column
    h3 Sorry, there was a problem with the #{errors.column} field. Please try again.
  .heading
    h1 Order
  .order-form
    form(method="PATCH")
      .form-group
        label.control-label(for='Title') Title
        input.form-control#title(
          type='text'
          name='Title'
          placeholder='Row Row Row Your Boat'
          value=body.Title
          required
        )

      .form-group
        .label.control-label(for='SongLength') Song Length
        input.form-control#songlength(
          type='text'
          name='SongLength'
          placeholder='420'
          value=body.SongLength
          required
        )

      .form-group
        .label.control-label(for='ReleaseDate') Release Date
        input.form-control#releasedate(
          type='text'
          name='ReleaseDate'
          placeholder='12/12/1912'
          value=body.ReleaseDate
          required
        )

      .form-group
        .label.control-label(for='GenreId') Genre Id
        input.form-control#genreid(
          type='text'
          name='GenreId'
          placeholder='4'
          value=body.GenreId
          required
        )

      .form-group
        .label.control-label(for='ArtistId') Artist Id
        input.form-control#artistId(
          type='text'
          name='ArtistId'
          placeholder='5'
          value=body.ArtistId
          required
        )

      .form-group
        .label.control-label(for='AlbumId') Album Id
        input.form-control#AlbumId(
          type='text'
          name='AlbumId'
          placeholder='2'
          value=body.AlbumId
          required
        )


      .order-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Order it!')
